src/wsdl/localhost_8080/Services/Services.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="Services">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/Services/Services?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:8080/Services/Services?xsd=2"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="updatePaciente">
<part name="parameters" element="tns:updatePaciente"/>
</message>
<message name="updatePacienteResponse">
<part name="parameters" element="tns:updatePacienteResponse"/>
</message>
<message name="findCitas">
<part name="parameters" element="tns:findCitas"/>
</message>
<message name="findCitasResponse">
<part name="parameters" element="tns:findCitasResponse"/>
</message>
<message name="encontrarCita">
<part name="parameters" element="tns:encontrarCita"/>
</message>
<message name="encontrarCitaResponse">
<part name="parameters" element="tns:encontrarCitaResponse"/>
</message>
<message name="registrarCita">
<part name="parameters" element="tns:registrarCita"/>
</message>
<message name="registrarCitaResponse">
<part name="parameters" element="tns:registrarCitaResponse"/>
</message>
<message name="encontrarAgenda">
<part name="parameters" element="tns:encontrarAgenda"/>
</message>
<message name="encontrarAgendaResponse">
<part name="parameters" element="tns:encontrarAgendaResponse"/>
</message>
<message name="createMedic">
<part name="parameters" element="tns:createMedic"/>
</message>
<message name="createMedicResponse">
<part name="parameters" element="tns:createMedicResponse"/>
</message>
<message name="logeo">
<part name="parameters" element="tns:logeo"/>
</message>
<message name="logeoResponse">
<part name="parameters" element="tns:logeoResponse"/>
</message>
<message name="createMAgenda">
<part name="parameters" element="tns:createMAgenda"/>
</message>
<message name="createMAgendaResponse">
<part name="parameters" element="tns:createMAgendaResponse"/>
</message>
<message name="listarMedicos">
<part name="parameters" element="tns:listarMedicos"/>
</message>
<message name="listarMedicosResponse">
<part name="parameters" element="tns:listarMedicosResponse"/>
</message>
<message name="listarAllAgenda">
<part name="parameters" element="tns:listarAllAgenda"/>
</message>
<message name="listarAllAgendaResponse">
<part name="parameters" element="tns:listarAllAgendaResponse"/>
</message>
<message name="encontrarMedico">
<part name="parameters" element="tns:encontrarMedico"/>
</message>
<message name="encontrarMedicoResponse">
<part name="parameters" element="tns:encontrarMedicoResponse"/>
</message>
<message name="listarEspecialidades">
<part name="parameters" element="tns:listarEspecialidades"/>
</message>
<message name="listarEspecialidadesResponse">
<part name="parameters" element="tns:listarEspecialidadesResponse"/>
</message>
<message name="listarMedicoByEspecialidad">
<part name="parameters" element="tns:listarMedicoByEspecialidad"/>
</message>
<message name="listarMedicoByEspecialidadResponse">
<part name="parameters" element="tns:listarMedicoByEspecialidadResponse"/>
</message>
<message name="listarAgendaByMedico">
<part name="parameters" element="tns:listarAgendaByMedico"/>
</message>
<message name="listarAgendaByMedicoResponse">
<part name="parameters" element="tns:listarAgendaByMedicoResponse"/>
</message>
<message name="encontrarUltimoRegistro">
<part name="parameters" element="tns:encontrarUltimoRegistro"/>
</message>
<message name="encontrarUltimoRegistroResponse">
<part name="parameters" element="tns:encontrarUltimoRegistroResponse"/>
</message>
<message name="registrarPaciente">
<part name="parameters" element="tns:registrarPaciente"/>
</message>
<message name="registrarPacienteResponse">
<part name="parameters" element="tns:registrarPacienteResponse"/>
</message>
<message name="encontrarPaciente">
<part name="parameters" element="tns:encontrarPaciente"/>
</message>
<message name="encontrarPacienteResponse">
<part name="parameters" element="tns:encontrarPacienteResponse"/>
</message>
<message name="encontrarEspecialidad">
<part name="parameters" element="tns:encontrarEspecialidad"/>
</message>
<message name="encontrarEspecialidadResponse">
<part name="parameters" element="tns:encontrarEspecialidadResponse"/>
</message>
<message name="pacientePorEspecialidad">
<part name="parameters" element="tns:pacientePorEspecialidad"/>
</message>
<message name="pacientePorEspecialidadResponse">
<part name="parameters" element="tns:pacientePorEspecialidadResponse"/>
</message>
<message name="countAppointmentsByPatient">
<part name="parameters" element="tns:countAppointmentsByPatient"/>
</message>
<message name="countAppointmentsByPatientResponse">
<part name="parameters" element="tns:countAppointmentsByPatientResponse"/>
</message>
<message name="createEspeciality">
<part name="parameters" element="tns:createEspeciality"/>
</message>
<message name="createEspecialityResponse">
<part name="parameters" element="tns:createEspecialityResponse"/>
</message>
<message name="countPatientsByMedic">
<part name="parameters" element="tns:countPatientsByMedic"/>
</message>
<message name="countPatientsByMedicResponse">
<part name="parameters" element="tns:countPatientsByMedicResponse"/>
</message>
<message name="countMedicsBySpecialty">
<part name="parameters" element="tns:countMedicsBySpecialty"/>
</message>
<message name="countMedicsBySpecialtyResponse">
<part name="parameters" element="tns:countMedicsBySpecialtyResponse"/>
</message>
<message name="countMedicsByShift">
<part name="parameters" element="tns:countMedicsByShift"/>
</message>
<message name="countMedicsByShiftResponse">
<part name="parameters" element="tns:countMedicsByShiftResponse"/>
</message>
<portType name="Services">
<operation name="hello">
<input wsam:Action="http://Servicios/Services/helloRequest" message="tns:hello"/>
<output wsam:Action="http://Servicios/Services/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="updatePaciente">
<input wsam:Action="http://Servicios/Services/updatePacienteRequest" message="tns:updatePaciente"/>
<output wsam:Action="http://Servicios/Services/updatePacienteResponse" message="tns:updatePacienteResponse"/>
</operation>
<operation name="findCitas">
<input wsam:Action="http://Servicios/Services/findCitasRequest" message="tns:findCitas"/>
<output wsam:Action="http://Servicios/Services/findCitasResponse" message="tns:findCitasResponse"/>
</operation>
<operation name="encontrarCita">
<input wsam:Action="http://Servicios/Services/encontrarCitaRequest" message="tns:encontrarCita"/>
<output wsam:Action="http://Servicios/Services/encontrarCitaResponse" message="tns:encontrarCitaResponse"/>
</operation>
<operation name="registrarCita">
<input wsam:Action="http://Servicios/Services/registrarCitaRequest" message="tns:registrarCita"/>
<output wsam:Action="http://Servicios/Services/registrarCitaResponse" message="tns:registrarCitaResponse"/>
</operation>
<operation name="encontrarAgenda">
<input wsam:Action="http://Servicios/Services/encontrarAgendaRequest" message="tns:encontrarAgenda"/>
<output wsam:Action="http://Servicios/Services/encontrarAgendaResponse" message="tns:encontrarAgendaResponse"/>
</operation>
<operation name="createMedic">
<input wsam:Action="http://Servicios/Services/createMedicRequest" message="tns:createMedic"/>
<output wsam:Action="http://Servicios/Services/createMedicResponse" message="tns:createMedicResponse"/>
</operation>
<operation name="logeo">
<input wsam:Action="http://Servicios/Services/logeoRequest" message="tns:logeo"/>
<output wsam:Action="http://Servicios/Services/logeoResponse" message="tns:logeoResponse"/>
</operation>
<operation name="createMAgenda">
<input wsam:Action="http://Servicios/Services/createMAgendaRequest" message="tns:createMAgenda"/>
<output wsam:Action="http://Servicios/Services/createMAgendaResponse" message="tns:createMAgendaResponse"/>
</operation>
<operation name="listarMedicos">
<input wsam:Action="http://Servicios/Services/listarMedicosRequest" message="tns:listarMedicos"/>
<output wsam:Action="http://Servicios/Services/listarMedicosResponse" message="tns:listarMedicosResponse"/>
</operation>
<operation name="listarAllAgenda">
<input wsam:Action="http://Servicios/Services/listarAllAgendaRequest" message="tns:listarAllAgenda"/>
<output wsam:Action="http://Servicios/Services/listarAllAgendaResponse" message="tns:listarAllAgendaResponse"/>
</operation>
<operation name="encontrarMedico">
<input wsam:Action="http://Servicios/Services/encontrarMedicoRequest" message="tns:encontrarMedico"/>
<output wsam:Action="http://Servicios/Services/encontrarMedicoResponse" message="tns:encontrarMedicoResponse"/>
</operation>
<operation name="listarEspecialidades">
<input wsam:Action="http://Servicios/Services/listarEspecialidadesRequest" message="tns:listarEspecialidades"/>
<output wsam:Action="http://Servicios/Services/listarEspecialidadesResponse" message="tns:listarEspecialidadesResponse"/>
</operation>
<operation name="listarMedicoByEspecialidad">
<input wsam:Action="http://Servicios/Services/listarMedicoByEspecialidadRequest" message="tns:listarMedicoByEspecialidad"/>
<output wsam:Action="http://Servicios/Services/listarMedicoByEspecialidadResponse" message="tns:listarMedicoByEspecialidadResponse"/>
</operation>
<operation name="listarAgendaByMedico">
<input wsam:Action="http://Servicios/Services/listarAgendaByMedicoRequest" message="tns:listarAgendaByMedico"/>
<output wsam:Action="http://Servicios/Services/listarAgendaByMedicoResponse" message="tns:listarAgendaByMedicoResponse"/>
</operation>
<operation name="encontrarUltimoRegistro">
<input wsam:Action="http://Servicios/Services/encontrarUltimoRegistroRequest" message="tns:encontrarUltimoRegistro"/>
<output wsam:Action="http://Servicios/Services/encontrarUltimoRegistroResponse" message="tns:encontrarUltimoRegistroResponse"/>
</operation>
<operation name="registrarPaciente">
<input wsam:Action="http://Servicios/Services/registrarPacienteRequest" message="tns:registrarPaciente"/>
<output wsam:Action="http://Servicios/Services/registrarPacienteResponse" message="tns:registrarPacienteResponse"/>
</operation>
<operation name="encontrarPaciente">
<input wsam:Action="http://Servicios/Services/encontrarPacienteRequest" message="tns:encontrarPaciente"/>
<output wsam:Action="http://Servicios/Services/encontrarPacienteResponse" message="tns:encontrarPacienteResponse"/>
</operation>
<operation name="encontrarEspecialidad">
<input wsam:Action="http://Servicios/Services/encontrarEspecialidadRequest" message="tns:encontrarEspecialidad"/>
<output wsam:Action="http://Servicios/Services/encontrarEspecialidadResponse" message="tns:encontrarEspecialidadResponse"/>
</operation>
<operation name="pacientePorEspecialidad">
<input wsam:Action="http://Servicios/Services/pacientePorEspecialidadRequest" message="tns:pacientePorEspecialidad"/>
<output wsam:Action="http://Servicios/Services/pacientePorEspecialidadResponse" message="tns:pacientePorEspecialidadResponse"/>
</operation>
<operation name="countAppointmentsByPatient">
<input wsam:Action="http://Servicios/Services/countAppointmentsByPatientRequest" message="tns:countAppointmentsByPatient"/>
<output wsam:Action="http://Servicios/Services/countAppointmentsByPatientResponse" message="tns:countAppointmentsByPatientResponse"/>
</operation>
<operation name="createEspeciality">
<input wsam:Action="http://Servicios/Services/createEspecialityRequest" message="tns:createEspeciality"/>
<output wsam:Action="http://Servicios/Services/createEspecialityResponse" message="tns:createEspecialityResponse"/>
</operation>
<operation name="countPatientsByMedic">
<input wsam:Action="http://Servicios/Services/countPatientsByMedicRequest" message="tns:countPatientsByMedic"/>
<output wsam:Action="http://Servicios/Services/countPatientsByMedicResponse" message="tns:countPatientsByMedicResponse"/>
</operation>
<operation name="countMedicsBySpecialty">
<input wsam:Action="http://Servicios/Services/countMedicsBySpecialtyRequest" message="tns:countMedicsBySpecialty"/>
<output wsam:Action="http://Servicios/Services/countMedicsBySpecialtyResponse" message="tns:countMedicsBySpecialtyResponse"/>
</operation>
<operation name="countMedicsByShift">
<input wsam:Action="http://Servicios/Services/countMedicsByShiftRequest" message="tns:countMedicsByShift"/>
<output wsam:Action="http://Servicios/Services/countMedicsByShiftResponse" message="tns:countMedicsByShiftResponse"/>
</operation>
</portType>
<binding name="ServicesPortBinding" type="tns:Services">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatePaciente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findCitas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="encontrarCita">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarCita">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="encontrarAgenda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createMedic">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="logeo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createMAgenda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarMedicos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarAllAgenda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="encontrarMedico">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarEspecialidades">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarMedicoByEspecialidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarAgendaByMedico">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="encontrarUltimoRegistro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarPaciente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="encontrarPaciente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="encontrarEspecialidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pacientePorEspecialidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countAppointmentsByPatient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createEspeciality">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countPatientsByMedic">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countMedicsBySpecialty">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countMedicsByShift">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Services">
<port name="ServicesPort" binding="tns:ServicesPortBinding">
<soap:address location="http://localhost:8080/Services/Services"/>
</port>
</service>
</definitions>